<% if (messages.info) { %>
	<div class="callout callout-info text-center callout-small">
		<b><%= messages.info %></b>
    </div>
<% } if(messages.error) { %>
	<div class="callout callout-danger text-center callout-small">
		<b><%= messages.error %></b>
    </div>
<% } if(messages.warning) { %>
	<div class="callout callout-warning text-center callout-small">
		<b><%= messages.warning %></b>
    </div>
<% } if(messages.success) { %>
	<div class="callout callout-success text-center callout-small">
		<b><%= messages.success %></b>
    </div>
<% } %>