  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Version <%= config.web.version %>
    </div>

    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <%= config.web.companyName %>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-rocket"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Applications</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="#">
              <h4 class="control-sidebar-subheading">
                Application Uptime
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>

        <form>
          <div class="form-group">
          </div>
          <div class="form-group">
            <a href="/app-config" class="btn btn-primary control-sidebar-subheading">
              Application Config
            </a>
          </div>
        </form>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form>
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>
            <p>
              Some information about this general settings option
            </p>
          </div>

          <div class="form-group">
            <a href="/settings" class="btn btn-primary control-sidebar-subheading">
              Advanced Settings
            </a>
          </div>
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- ** REQUIRED JS SCRIPTS ** -->
<!-- Angular resources  -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

<!-- Angular app -->
<script src ="ng.min.js"></script>

<!-- ** OPTIONAL PLUGINS ** -->
<script src="plugins.min.js"></script>
<!-- Concatenated JS from Grunt -->
<script src="build.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!--
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
-->
</body>
</html>
