# https://github.com/airbnb/javascript/blob/master/linters/.eslintrc

{
    extends: [
        "airbnb-base", # Airbnb's base JS .eslintrc (without React plugins),
        "prettier", # Ignore rules managed by prettier
    ],

    // Override the airbnb rules here
    rules: {
        prefer-promise-reject-errors: 0,
        no-use-before-define: 0,
         max-len: ["error", { code: 180 }],
    }
}
