/public/bower_components
/dist
*.seed
*.log
*.csv
*.dat
*.pid
*.gz
*.swp
/tmp
.DS_Store
.idea/
.sass-cache
*~
node_modules
*.out
npm-debug.log
.project

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
cert.pem
key.pem
public/build.js
public/build.css
public/fonts/
public/plugins.min.js
public/blue.png
public/blue@2x.png
public/ng.min.js
public/css/styles.css
public/js/footer-plugins.js
public/js/header-plugins.js
public/images
public/d3.min.js
config/tmdb.json
