<% include ./partials/header.html %>

  <div class="content-wrapper" ng-controller="appConfigCtrl">
    <section class="content-header">
      <h1>
        <%=title%>
      </h1>
      <% if(config.demo){ %>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active"><%=title%></li>
      </ol>
      <% } %>
    </section>

    <section class="content" ng-cloak>
      <%- include ./partials/flash.html %>

      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Application Scheduler</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Future Schedules</strong>
                  </p>
                  <graph data="scheduleList" height="400px" autoresize="true">
                    <x field="schedule"></x>
                    <y field="value" title="null" hide="true"></y>
                    <graph-legend></graph-legend>
                    <scatter-plot field="app"></scatter-plot>
                  </graph>
                </div>
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Scheduler Options</strong>
                  </p>
                  <form class="form-horizontal" style="padding-top:20px;">
                    <div class="form-group">
                      <div class="text-center">
                        <button type="submit" class="btn btn btn-primary" ng-click="restartScheduler()">Restart Scheduler</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#addApp" data-toggle="tab" aria-expanded="true"><b>Add Application</b></a></li>
              <li class="capitalize" ng-repeat="app in appList.existingApp"><a href="#{{app}}" data-toggle="tab" aria-expanded="false" ng-bind="::app"></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="{{app}}" ng-repeat="app in appList.existingApp">
                <form class="form-horizontal" style="padding-top:20px;">
                    <h3 class="capitalize" ng-bind="::app"></h3>
                    <div class="form-group" ng-repeat="(key, value) in config[app]">

                      <span ng-if="getTypeof(value) === 'string'">
                        <div class="form-group">
                          <label class="col-sm-3 control-label capitalize" ng-bind="::key | camelCaseToHuman"></label>
                          <div class="col-sm-7">
                            <input type="text" ng-model="config[app][key]" class="form-control"/>
                          </div>
                        </div>
                      </span>

                      <span ng-if="getTypeof(value) === 'boolean'">
                        <div class="form-group">
                          <label class="col-sm-3 control-label capitalize" ng-bind="::key | camelCaseToHuman"></label>
                          <div class="col-sm-7">
                            <div class="checkbox">
                              <label></label>
                              <input type="checkbox" ng-model="config[app][key]">
                            </div>
                          </div>
                        </div>
                      </span>

                      <span ng-if="getTypeof(value) === 'number'">
                        <div class="form-group">
                          <label class="col-sm-3 control-label capitalize" ng-bind="::key | camelCaseToHuman"></label>
                          <div class="col-sm-7">
                            <input type="number" ng-model="config[app][key]" class="form-control"/>
                          </div>
                        </div>
                      </span>

                      <span ng-if="getTypeof(value) === 'array' && key !== 'scheduleList'">
                        <div class="form-group">
                          <label class="control-label col-sm-3" ng-bind="::key | camelCaseToHuman"></label>
                          <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="added">
                          </div>
                          <button type="button" class="col-sm-1 btn btn-success" ng-click="addArrItem(app, key, added); added = ''">Add</button>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3"></label>
                          <div class="col-sm-7">
                            <select class="form-control" ng-model="removed" ng-options="option for option in value"></select>
                          </div>
                          <button type="button" class="col-sm-1 btn btn-danger" ng-click="removeArrItem(app, key, removed)">Remove</button>
                        </div>
                      </span>

                      <span ng-if="key === 'scheduleList'">
                        <div class="form-group">
                          <label class="control-label col-sm-3 capitalize" ng-bind="::key | camelCaseToHuman"></label>
                          <div class="col-sm-7">
                            <div class="box box-border">
                              <div class="box-body">
                                <span ng-repeat="option in value">{{option}} <br></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </span>
                    </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                      <button class="btn btn btn-warning" ng-click="runApp(app)">Manually Run</button>
                      <button class="btn btn btn-primary" ng-click="saveAppConfig('update')">Update Config</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="tab-pane active" id="addApp">
                <form class="form-horizontal" style="padding-top:20px;">
                  <div class="form-group" ng-show="init">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-7">
                      <button class="btn btn btn-primary" ng-click="initApps()">Initialize Applications</button>
                    </div>
                  </div>
                  <div class="form-group" ng-hide="init">
                    <label class="col-sm-3 control-label">Application</label>
                    <div class="col-sm-7">
                      <select class="form-control" ng-model="selectedNewApp">
                        <option ng-repeat="option in appList.newApp" value="{{option}}" ng-bind="::option | camelCaseToHuman"></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" ng-repeat="(key, value) in config[selectedNewApp]">
                    <span ng-if="getTypeof(value) === 'string' || value == null">
                      <label class="col-sm-3 control-label capitalize" ng-bind="::key | camelCaseToHuman"></label>
                      <div class="col-sm-7">
                        <input type="text" ng-model="newAppConfig[selectedNewApp][key]" class="form-control"/>
                      </div>
                    </span>
                    <span ng-if="getTypeof(value) === 'boolean'">
                      <label class="col-sm-3 control-label capitalize" ng-bind="::key | camelCaseToHuman"></label>
                      <div class="col-sm-7">
                        <div class="checkbox">
                          <label></label>
                          <input type="checkbox" ng-model="newAppConfig[selectedNewApp][key]">
                        </div>
                      </div>
                    </span>
                    <span ng-if="getTypeof(value) === 'number'">
                      <label class="col-sm-3 control-label capitalize" ng-bind="::key | camelCaseToHuman"></label>
                      <div class="col-sm-7">
                        <input type="number" ng-model="newAppConfig[selectedNewApp][key]" class="form-control"/>
                      </div>
                    </span>
                    <span ng-if="getTypeof(value) === 'array'">
                      <div class="form-group">
                        <label class="control-label col-sm-3" ng-bind="::key | camelCaseToHuman"></label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="added">
                        </div>
                        <button type="button" class="col-sm-1 btn btn-success" ng-click="addArrItem(selectedNewApp, key, added); added = ''">Add</button>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <div class="col-sm-7">
                          <select class="form-control" ng-model="removed" ng-options="option for option in value"></select>
                        </div>
                        <button type="button" class="col-sm-1 btn btn-danger" ng-click="removeArrItem(selectedNewApp, key, removed)">Remove</button>
                      </div>
                    </span>
                  </div>
                  <div class="form-group" ng-hide="init">
                    <div class="col-sm-offset-3 col-sm-4">
                      <button class="btn btn btn-danger"  ng-click="getData()">Cancel</button>
                      <button type="submit" class="btn btn btn-primary" ng-click="saveAppConfig('new')">Save Application</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

<% include ./partials/footer.html %>
<script src="app-config-ctrl.js"></script>
